@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
    .bg-custom{
        background-image: url('/image/sky-183948_640.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
}; */